@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
--oxford-blue: #011936ff;
--lavender-web: #e5e1eeff;
--medium-aquamarine: #5fdd9dff;
--middle-green: #499167ff;
--rifle-green: rgb(33, 46, 1);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--oxford-blue);
    color: var(--lavender-web);
    text-align: center;
}

nav {
    background-color: var(--rifle-green);
    position: fixed;
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 12px;
}

nav ul {
    list-style: none;
    display: flex;
    width: 90vw;
}

nav ul li a {
    margin: 0 3px;
    padding: 12px;
    vertical-align: middle;
    border-radius: 12px;
    font-size: 18px;
    text-decoration: none;
    color: var(--lavender-web);
    transition: .3s ease;
}

nav ul li a:hover {
    background-color: var(--middle-green);
    color: var(--oxford-blue);
}

.author-container {
    background-color: var(--rifle-green);
    width: 90vw;
    margin: 12px auto;
    display: inline-block;
}

.profile-photo {
    border-radius: 12px 70px;
    margin: 12px auto;
}

.author-container h3 {
    font-family: 'Mr Dafoe', sans-serif;
    font-size: 70px;
    font-weight: 400;
}

.about-container p {
    font-family: 'Roboto', sans-serif;
}

.about-container strong {
    font-style: italic;
    color: var(--medium-aquamarine);
}

.about-container em {
    font-style: normal;
    font-weight: bold;
    color: var(--middle-green);
}

.skills-container {
    background-color: var(--rifle-green);
    line-height: 30px;
    padding: 20px;
    border-radius: 7px;
}

.skills-container .skill {
    list-style-type: square;
}

/*Classes para cada skill, com base na maestria*/
.m1 {
    font-size: 16px;
}

.m2 {
    font-size: 18px;
}

.m3 {
    font-size: 20px;
}

.m4 {
    font-size: 22px;
}

.m5 {
    font-size: 24px;
}