@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
--outer-space: #1b2727;
--mineral-green: #3c5148;
--geyser: #d5dddf;
--green-spring: #b2c5b2;
--asparagus: #6b8e4e;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--mineral-green);
    color: var(--geyser);
    box-sizing: border-box;
}

header {
    display: block;
    background-color: var(--outer-space);
    top: 0;
    width: 100%;
    height: 80px;
    padding: 40px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 2px var(--asparagus);
    z-index: 0;
}

header h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

nav {
    margin-top: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 30px;
}

nav ul li a {
    margin: 0 3px;
    padding: 12px;
    border-radius: 12px;
    font-size: 18px;
    text-decoration: none;
    color: var(--geyser);
    transition: .5s ease;
}

nav ul li a:hover {
    background-color: var(--geyser);
    color: var(--outer-space);
}

main {
    margin-top: 20px;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: block;
    width: 90vw;
    border-radius: 12px;
    margin: 20px auto;
    padding: 20px;
}

.presentation {
    background-color: var(--green-spring);
    color: var(--outer-space);
    height: 380px;
    box-shadow: 3px 3px 7px var(--outer-space);
}

.presentation-card {
    float: left;
    width: 60%;
    border-radius: 12px;
    margin-left: 20px;
    padding: 20px;
    box-shadow: 1px 1px 7px var(--outer-space);
}

.presentation-card img {
    background-color: var(--asparagus);
    width: 180px;
    border-radius: 12px 70px;
    float: left;
    padding: 20px;
    margin: 20px;
    box-shadow: 1px 1px 7px var(--outer-space);
}

.presentation-card p {
    float: right;
    width: 50%;
    margin: 20px;
    text-align: justify;
}

.presentation aside {
    background-color: var(--asparagus);
    float: right;
    width: 20%;
    height: fit-content;
    border-radius: 12px;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 1px 1px 7px var(--outer-space);
}

.about {
    background-color: var(--asparagus);
    border-radius: 12px;
}

.about p {
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    width: 90%;
    text-align: justify;
    margin-left: 18px;
    padding: 12px;
}

.about strong {
    font-style: italic;
    color: var(--mineral-green);
}

.about em {
    font-style: normal;
    font-weight: bold;
    color: var(--outer-space);
}

.skills-list {
    background-color: var(--asparagus);
    line-height: 30px;
}

.skills-list .skill {
    list-style-type: square;
}

.skill:nth-of-type(odd) {
    background-color: var(--outer-space);
    border-radius: 7px;
}

/*Classes para cada skill, com base na maestria*/
.m1 {
    font-size: 12px;
}

.m2 {
    font-size: 16px;
}

.m3 {
    font-size: 20px;
}

.m4 {
    font-size: 24px;
}

.m5 {
    font-size: 30px;
}